---
import Logo from "../components/logo.astro";
import FooterItem from "../components/footerItem.astro";
import FooterSocialMedia from "../components/footerSocialMedia.astro";
import { getLanguageFromUrl, useTranslations } from "../i18n/utils";
import { createEdgepressContent } from "../utils/api";

const content = createEdgepressContent(Astro.locals, {
  baseUrl: Astro.url.origin,
});

type SettingItem = {
  name?: string;
  value?: string;
};

const { items } = await content.getList("settings", {
  query: {
    page: 1,
    limit: 100,
  },
});
const settingsItems = items as SettingItem[];

const lang = getLanguageFromUrl(Astro.url);
const t = useTranslations(lang);
const { footerStyle } = Astro.props;
function getSettings(name: string): string | undefined {
  return settingsItems.find((item) => (item.name ?? "").includes(name))
    ?.value;
}
---

<style lang="scss" is:global>
  .footer--wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .edgtf-grid-col-4 {
    @media screen and (min-width: 1024px) {
      &.location--wrapper {
        padding-left: 2.7rem;
      }
    }
  }
  .edgtf-page-footer {
    .edgtf-footer-top-holder {
      @media screen and (min-width: 0) {
        padding: 5rem 0;
      }
      @media screen and (min-width: 1024px) {
        display: flex !important;
        align-items: center;
        height: 736px;
      }
    }
  }
  .edgtf-grid-col-3:nth-child(3) {
    @media screen and (min-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .footer--wrapper .edgtf-logo-wrapper {
    @media screen and (max-width: 1024px) {
      margin-bottom: 3rem;
      text-align: center;
    }
  }
  .farra-footer {
    .edgtf-logo-wrapper {
      height: 120px;
    }
    .edgtf-logo {
      width: 270px;
      height: auto;
    }
  }
</style>

<style lang="scss">
  .farra-footer {
    display: flex;
    align-items: center;
    background: #fff;

    @media screen and (max-width: 1023px) {
      padding: 7rem 0 5rem;
    }
    @media screen and (min-width: 1024px) {
      height: 600px;
      padding-top: 2rem;
    }

    section {
      @media screen and (max-width: 1023px) {
        margin: 0 auto;
        max-width: 300px;
      }
      @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        max-width: 1250px;
        margin: 0 auto;
        align-items: center;
      }
      @media screen and (min-width: 1024px) and (max-width: 1300px) {
        max-width: 1000px;
      }
    }

    div {
      @media screen and (max-width: 1023px) {
        margin-bottom: 1rem;
      }

      @media screen and (min-width: 1024px) {
        display: flex;
        flex-direction: column;
        flex: 25%;
        &:nth-child(2),
        &:nth-child(3) {
          // outline: solid 1px red;
          // padding-top: 2.5rem;
        }
        &:nth-child(3) {
          align-items: center;
        }
        &:last-child {
        }
      }
    }

    .logo-container {
      text-align: center;
    }

    &.negative {
      background-color: #000;
      color: #fff;
    }
  }
</style>

<style is:global lang="scss">
  .farra-footer {
    section {
      & > div {
        &:nth-child(2) {
          div {
            @media screen and (min-width: 1024px) {
              margin-left: 40px;
            }
          }
        }
      }
    }
  }
</style>

<footer id="contato" class={"farra-footer " + footerStyle}>
  <section>
    <div class="logo-container">
      <Logo />
    </div>
    <div>
      <FooterItem class={footerStyle} title="São Paulo">
        {getSettings("endereco")}
      </FooterItem>
    </div>
    <div>
      <FooterItem class={footerStyle} title={t("novosNegocios")}>
        {getSettings("negócios")}
      </FooterItem>
    </div>
    <div>
      <FooterItem class={"widget-stack " + footerStyle} title={t("imprensa")}>
        {getSettings("Imprensa")}
      </FooterItem>
      <FooterItem class={"widget-stack " + footerStyle} title={t("trabalhe")}>
        {getSettings("Trabalhe")}
      </FooterItem>
      <FooterItem class={"widget-stack " + footerStyle} title={t("producao")}>
        {getSettings("elenco")}
      </FooterItem>
    </div>
    <FooterSocialMedia />
  </section>
</footer>
