---
interface Props {
  name: string;
  image: string;
}
const { image, name } = Astro.props;
---

<style>
  @media screen and (min-width: 0) {
    .client--item {
      display: flex;
      align-items: center;
      margin: 0;
      justify-content: space-around;
      flex-basis: 40%;
      height: 150px;
    }

    .client--image {
      width: auto;
    }
  }

  @media screen and (min-width: 641px) {
    .client--item {
      flex-basis: 33%;
    }
  }

  @media screen and (min-width: 1024px) {
    .client--item {
      margin: 1em;
      flex-basis: 14%;
    }
  }
</style>

<div class="client--item">
  <img
    src={image}
    alt={`Cliente ${name}`}
    class="client--image"
    width="160"
    height="160"
    loading="lazy"
    decoding="async"
  />
</div>
