---
import { Image } from "astro:assets";
import logoAzul from "../images/logo/farra-azul.png";
import logoBranco from "../images/logo/farra-branco.png";
import logoPreto from "../images/logo/farra-preto.png";

interface Props {
  style?: string;
  section?: string;
}

const { style, section } = Astro.props;
let css = "";
if (style) {
  css = style;
} else {
  css = `height: 48px`;
}

if (section == "footer") {
}
---

<style lang="scss">
  @media screen and (max-width: 1024px) {
    .edgtf-logo-wrapper {
      display: flex;
      justify-content: center;
      width: 100%;
      a {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 180px;
      }
    }
  }
</style>

<div class="edgtf-logo-wrapper">
  <a itemprop="url" href="/" style={css}>
    <Image
      class="edgtf-logo edgtf-normal-logo"
      format="webp"
      src={logoAzul}
      alt="Logo Farra"
      width={270}
    />
    <Image
      class="edgtf-logo edgtf-dark-logo"
      format="webp"
      width={270}
      src={logoPreto}
      alt="Logo Farra"
    />
    <Image
      class="edgtf-logo edgtf-light-logo"
      format="webp"
      width={270}
      src={logoBranco}
      alt="Logo Farra"
    />
  </a>
</div>
