---
import logoAzul from "../images/logo/farra-azul.png";
import { getLanguageFromUrl, useTranslations } from "../i18n/utils";
interface Props {
  intro?: boolean;
}
const bgImage = `url(${logoAzul.src})`;
const lang = getLanguageFromUrl(Astro.url);
const t = useTranslations(lang);
---

<style define:vars={{ bgImage }} lang="scss" is:global>
  .firstfold {
    @media screen and (min-width: 0) {
      padding: 5rem 2rem;
      h3 {
        max-width: 650px;

        color: #fff;
        font-size: 180%;
        line-height: 1.2;
        letter-spacing: normal;
        word-wrap: break-word;
      }
      span {
        color: #01c3cc;
      }
      article {
        margin-top: 3rem;
      }
    }
    @media screen and (min-width: 1024px) {
      display: flex;
      max-width: 1300px;
      padding: 5rem 2rem;
      margin: 5rem auto;

      h3,
      article {
        flex-basis: 50%;
      }

      h3 {
        font-size: 60px;
        text-align: right;
      }

      article {
        margin-left: 80px;
        margin-top: 0;
        // font-size: 19px;
      }
    }
    .logo {
      display: block;
      max-width: 300px;
      height: 125px;
      overflow: hidden;
      text-indent: -100vw;
      width: 100%;

      background-image: var(--bgImage);
      background-size: cover;
      background-repeat: no-repeat;
    }
    small {
      font-size: 1rem;
    }
    article {
      // font-weight: 700;
      p:nth-child(odd) {
        color: #fff;
      }
      p:nth-child(even) {
        color: #01c3cc;
      }
    }
  }

  .home-br h3 {
    @media screen and (min-width: 1024px) {
      font-size: 47px;

      span:first-child {
        font-size: 61px;
      }
    }
  }

  #article_br {
    @media screen and (min-width: 1024px) {
      margin-left: 36px;
      margin-top: 0;
    }
  }
</style>
<section class="firstfold">
  <h3 set:html={t("firstFold1")} />
  <article id={"article_" + lang}>
    <p set:html={t("firstFold2")} />
  </article>
</section>
