---
import Link from "../components/navItem.astro";
import Submenu from "../components/submenu.astro";
import { getLanguageFromUrl, getPublicPathFromUrl, useTranslations } from "../i18n/utils";
const lang = getLanguageFromUrl(Astro.url);
const t = useTranslations(lang);
const publicPath = getPublicPathFromUrl(Astro.url);
const isActive = (menu: string) => {
  if (publicPath === menu || publicPath.startsWith(`${menu}/`)) {
    return true;
  }
  return false;
};
---

<nav class="edgtf-main-menu edgtf-drop-down edgtf-default-nav">
  <ul id="menu-farra" class="clearfix justify-center">
    <Link label={t("navHome")} url={t("pagesHome")} active={isActive(t("pagesHome"))} />
    <Link
      label={t("navJob")}
      url={t("pagesJob")}
      active={isActive(t("pagesJob"))}
    >
      <Submenu id="submenu" posttype="jobs" />
    </Link>
    <Link
      label={t("navDiretor")}
      url={t("pagesDiretor")}
      active={isActive(t("pagesDiretor"))}
    >
      <Submenu id="submenu" posttype="diretores" />
    </Link>
    <Link
      label={t("navAbout")}
      url={t("pagesAbout")}
      active={isActive(t("pagesAbout"))}
    />
    <Link
      label={t("navContact")}
      url={t("pagesContact")}
      active={isActive(t("pagesContact"))}
    />
  </ul>
</nav>

<script is:inline>
  document.querySelectorAll(".menu-item > #submenu").forEach((el) => {
    let tmr;
    el.parentElement.addEventListener("mouseover", () => {
      el.classList.remove("hide");
      closeMenu = true;
      clearTimeout(tmr);
    });
    el.parentElement.addEventListener("mouseleave", () => {
      tmr = setTimeout(() => {
        el.classList.add("hide");
      }, 10);
    });
  });
</script>
