---
interface Props {
  pagename: string;
  deskimage: any;
  mobimage: any;
  pagenameImage?: any;
}
let { deskimage, mobimage, pagename, pagenameImage } = Astro.props;
deskimage = `url(${deskimage})`;
mobimage = `url(${mobimage})`;
pagenameImage = `url(${pagenameImage})`;
---

<style is:global lang="scss">
  // quem-somos
  .quem-somos {
    @media screen and (max-width: 700px) and (orientation: portrait) {
      .pagebanner--wrapper {
        height: 90vh;
      }
    }
    @media screen and (max-width: 1024px) and (orientation: landscape) {
      .pagebanner--wrapper {
        height: 140vh;
      }
    }
  }
  .who-we-are {
    @media screen and (max-width: 1024px) and (orientation: landscape) {
      .pagebanner--wrapper {
        height: 150vh;
      }
    }
  }
  //////////////////////////////
  // o que fazemos
  .o-que-fazemos {
    @media screen and (max-width: 699px) and (orientation: portrait) {
      .pagebanner--wrapper {
        height: 80vh;
      }
    }
    @media screen and (min-width: 700px) and (orientation: portrait) {
      .pagebanner--wrapper {
        height: 100vh;
      }
    }
    @media screen and (max-width: 700px) and (orientation: landscape) {
      .pagebanner--wrapper {
        height: 100vh;
        padding-top: 40vw;
      }
    }
  }
</style>
<style
  lang="scss"
  id="innerpage"
  define:vars={{ mobimage, deskimage, pagenameImage }}
>
  .pagebanner {
    &--content {
      @media screen and (min-width: 0) {
        margin-left: auto;
        margin-right: auto;

        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        line-height: 1.5em;
        letter-spacing: 0.13em;
        text-align: center;
        text-transform: none;
      }
      @media screen and (min-width: 681px) {
        display: block;
        padding-top: 45%;
        max-width: 600px;
        width: 100%;
      }
      @media screen and (min-width: 1025px) {
        display: block;
        padding-top: 47%;
        max-width: 630px;
        width: 100%;
      }
      @media screen and (min-width: 1400px) {
        max-width: 856px;
      }
      @media screen and (max-width: 480px) {
        padding: 0 30px;
      }
      @media screen and (max-width: 681px) {
        padding-top: 480px;
        max-width: 420px;
      }
    }
    &--wrapper {
      @media screen and (min-width: 0) {
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          background: linear-gradient(
            0,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.4) 10%,
            rgba(0, 0, 0, 0) 20%
          );
        }
      }
      @media screen and (min-width: 1025px) {
        background-image: var(--deskimage);
        background-size: cover;
      }
      @media screen and (max-width: 1024px) {
        background-image: var(--mobimage);
      }
    }
    &--image {
      text-indent: -999rem;
      @media screen and (min-width: 1025px) {
        background-image: var(--pagenameImage);
        height: 100%;
        background-repeat: no-repeat;
        background-position: center 50%;
        background-size: calc(100vw - 25%);
      }
    }
  }
</style>
<section class="pagebanner--wrapper">
  <h1 class="pagebanner--image">{pagename}</h1>
  <p class="pagebanner--content">
    <slot />
  </p>
</section>
