---
import Layout from "../../layouts/default.astro";
import WorkItem from "../../components/workitem.astro";
import { getLanguageFromUrl } from "../../i18n/utils";
import { GetJobs, slugify } from "../../helpers/helpers";
import { themeRouteParam } from "../../helpers/route";
let { page } = Astro.props;
const slug = themeRouteParam(Astro, "slug");
const lang = getLanguageFromUrl(Astro.url);
const posts = await GetJobs({ slug, lang });
const jobs = posts.filter((post: any) => post.language.includes(lang));
if (!page) {
  page = "trabalhos";
}
// console.log("posts", posts);
// console.log("jobs", jobs);
---

<style>
  #jobs {
    display: flex;
    flex-wrap: wrap;
    background: #000;
    width: 100%;
  }
</style>
<Layout page={page}>
  <p>
    <section id="jobs">
      {
        jobs.map((job: any) => (
          <WorkItem
            label={job.title}
            url={`${lang != "br" ? `/${lang}` : ""}/portfolio/${job.slug || slugify(job.title)}`}
            imagepr={job.image}
          />
        ))
      }
    </section>
  </p>
</Layout>
