<form id="adminForm" action="">
  <div>
    <p>Arrastar Itens</p>
    <label for="drag">Sim</label>
    <input type="radio" name="drag" id="drag" value="s" />
    <label for="drag">Não</label>
    <input type="radio" name="drag" id="drag" value="n" />
  </div>
</form>

<script>
  const form = document.querySelector("#adminForm") as any;
  const radios = form.querySelectorAll('input[type="radio"][name="drag"]');

  radios.forEach((radio: any) => {
    radio.addEventListener("change", () => {
      const value = radio.value;
      localStorage.setItem("drag", value);
      // Habilita ou desabilita o drag
      if (value === "s") {
        // Drag Wrapper
        document.querySelectorAll(".StackedList_off").forEach((item) => {
          item.classList.remove("StackedList_off");
          item.classList.add("StackedList");
        });
        // Drag Item Lista
        document
          .querySelectorAll(".StackedListItem--isDraggable__off")
          .forEach((item) => {
            item.classList.remove("StackedListItem--isDraggable__off");
            item.classList.add("StackedListItem--isDraggable");
          });
      } else {
        // Drag Wrapper
        document.querySelectorAll(".StackedList").forEach((item) => {
          item.classList.remove("StackedList");
          item.classList.add("StackedList_off");
        });
        // Drag Item Lista
        document
          .querySelectorAll(".StackedListItem--isDraggable")
          .forEach((item) => {
            item.classList.remove("StackedListItem--isDraggable");
            item.classList.add("StackedListItem--isDraggable__off");
          });
      }
    });
  });

  const drag = localStorage.getItem("drag");

  if (drag) {
    radios.forEach((radio: any) => {
      if (radio.value === drag) {
        radio.checked = true;
      }
    });
  }
</script>

<style>
  form {
    position: fixed;
    height: 100vh;
    width: 10%;
    background: rgb(133, 98, 98);
    top: 0;
    left: 0;
    z-index: 100000;
    color: #fff;
    padding: 1rem;
  }
</style>
