---
interface Props {
  title?: any;
  class?: any;
}
const { title, class: cssClass } = Astro.props;
---

<style lang="scss">
  .textwidget {
    font-size: 14px;
    color: #000;
    line-height: 1.5;
  }
  .textwidget b {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  .widget {
    margin: 0;
    &.negative {
      .textwidget {
        color: #fff;
      }
    }
  }
  .widget-stack {
    @media screen and (min-width: 1024px) {
      b {
        margin-bottom: 0;
      }
      p {
        font-size: 14px;
      }
    }
  }
</style>

<div class={`widget edgtf-footer-column-2 widget_text ${cssClass}`}>
  <div class="textwidget">
    <p>
      {
        title ? (
          <>
            <b>{title}</b>
            <br />
          </>
        ) : (
          ""
        )
      }
      <slot />
    </p>
  </div>
</div>
