---
const { admin } = Astro.props;
let cssListItem = "";

if (admin) {
  cssListItem += "StackedListItem--isDraggable__off";
}
---

<li class={cssListItem}>
  <slot />
  <section class="admin-bar__item">
    <button>delete</button>
  </section>
</li>

<style lang="scss">
  li {
    outline: solid 1px red;
    &::before {
      content: none !important;
    }
  }
</style>
