---
interface Props {
  title: string;
  image: string;
}
let { title, image } = Astro.props;
image = `url(${image.toLowerCase()})`;
---

<style define:vars={{ image }}>
  @media screen and (min-width: 0) {
    .service--item {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 35px 0;
      padding-top: 20vw;
      max-width: 1280px;

      background-image: var(--image);
      background-size: contain;
      background-position: top;
      background-repeat: no-repeat;
    }
    .service--content {
      margin: 25px;

      font-weight: bold;
      font-size: 15px;
    }
  }
  @media screen and (min-width: 1024px) {
    .service--item {
      margin-left: auto;
      margin-right: auto;
      padding-top: 0;
      height: 250px;

      background-color: #000;
      background-size: cover;
      background-position: center left;
    }
    .service--content {
      margin-right: 50px;
      max-width: 50%;

      color: #fff;
      text-align: justify;
    }
  }
</style>
<article class="service--item">
  <h1 class="sr-only">{title}</h1>
  <p class="service--content">
    <slot />
  </p>
</article>
