---
/**
 * Notificação do formulário de conteúdo (Alpine: notification, hideNotification).
 * Deve ser usado dentro de um elemento com x-data="contentForm".
 */
---
<div
  x-show="notification.show"
  class="mr-6"
  x-transition
>
  <div
    :class="`alert alert-${notification.type}`"
    role="alert"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      x-show="notification.type === 'error'"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="stroke-current shrink-0 h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      x-show="notification.type === 'success'"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <div class="flex-1">
      <h3 class="font-bold" x-show="notification.title" x-text="notification.title" />
      <div class="text-sm whitespace-pre-line" x-text="notification.message" />
    </div>
    <button
      type="button"
      class="btn btn-sm btn-circle btn-ghost"
      @click="hideNotification()"
      aria-label="Fechar notificação"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>
</div>
