---
import BaseNav from "../../../../components/themes/baseNav.astro";
import BaseLogo from "../../../../components/themes/baseLogo.astro";

type Props = {
  locale: string;
  currentThemePath: string;
};

const { locale, currentThemePath } = Astro.props as Props;
---

<header class="border-b border-slate-200">
  <div
    class="mx-auto flex w-full max-w-5xl flex-col gap-6 px-6 py-7 sm:flex-row sm:items-center sm:justify-between"
  >
    <a href={currentThemePath} class="flex items-center gap-3">
      <BaseLogo width={52} height={52} />
      <span class="text-xl font-semibold tracking-tight"> Meu Blog 2026 </span>
    </a>
    <BaseNav postType="menus" locale={locale} className="starter-nav" />
    <div class="flex items-center gap-3 px-6 py-2">
      <a href="/pt_BR" title="Português (Brasil)">
        <img
          src="https://flagcdn.com/br.svg"
          alt="Português (Brasil)"
          class="h-6 w-6 rounded-full shadow border"
          loading="lazy"
        />
      </a>
      <a href="/es_ES" title="Español (España)">
        <img
          src="https://flagcdn.com/es.svg"
          alt="Español (Espanha)"
          class="h-6 w-6 rounded-full shadow border"
          loading="lazy"
        />
      </a>
      <a href="/en_US" title="English (US)">
        <img
          src="https://flagcdn.com/us.svg"
          alt="English (US)"
          class="h-6 w-6 rounded-full shadow border"
          loading="lazy"
        />
      </a>
    </div>
  </div>
</header>
